 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
$button-font-family: 'Helvetica Neue', Helvetica, sans-serif;

// Custom Styles
$droid: 'Droid Serif', serif;
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* fontawesome */
[class*="entypo-"]:before {
  font-family: 'Entypo', sans-serif;
  padding: 5px;
}
/* Form Progress */
.progress {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}


/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}


.gist .gist-file {
  margin-bottom: 0 !important;
}

.gist .line-data {
  text-align: left;
}


button{
  padding:  0.5em .6em;
  margin: 5px;
  font-family: $button-font-family;
  font-size: 12px;
}


input{
  border-radius: 1px;
  border: 1px solid black;
  margin: 5px;
  width: 330px;
  padding: 7px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}
select {
  // background
  background-color: white;
  // basic appearance
  width: 330px;
  font-size:13px;
  margin:5px;
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  // cursor
  cursor: pointer;
}
// Webkit Select Styles
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAfCAYAAACs5j4jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0
NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEu
MC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVz
b3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1N
Ok9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpEMjE2MzJBRTQzMjA2ODExODIyQUM2NDdERkRD
RURDOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0NTIwOEQ3OTlCNDMxMUUyQTNBMEI4MTJG
OTIzQjEwRCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0NTIwOEQ3ODlCNDMxMUUyQTNBMEI4
MTJGOTIzQjEwRCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRv
c2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDIxNjMy
QUU0MzIwNjgxMTgyMkFDNjQ3REZEQ0VEQzgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDIx
NjMyQUU0MzIwNjgxMTgyMkFDNjQ3REZEQ0VEQzgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRm
OlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz50BWfzAAABr0lEQVR42tSYPUjE
MBiG01NQEFRwUQRBB1FwcHAVuclNxNFRXBxcxUUcXARdbnFwcHM5B2cdHAWn080fUBBB8AcUFcG/
+n6QylF6Xtp8SZoXHrqUfHmaJk0aCCF2wZgwnzZQqHPPPhgPw5Cl4DD4AqFjPsEAdYjEdKEneAw2
hftsgFOuxgJ57QBn8uoi96AfPEUjppvonX8ESw5HazmSMpEGUHEwtyqy9l845lg8RQdixXgnTIhR
yhalykkdMCXWA94sSL2DXlNiSR/Ma7BqYcFYA1e2V6lmcGlwtG5AS63ipl7FKFMGxab/K2xajHJg
QOqwamPgTGxI7uG4pL7BSL2iNsQoJUaxLZWCtsTawR2D1DPozJMYZZZBbEG1mE2xguY+8hw05VGM
Mgp+MopNpClkW4yynUFqL20RF2Ld4CXlcX/QBzHKYgqxUpYCrsRoEbhQkHqQnwpvxCiTCmJzWRt3
KSbkolBL6iR+3PdJjP4Bfqge930So6wnSO3oNpoHsVZwq3Lc902MMlMltsLRIIdYwNAP2kcegS45
7145xHTTyCBG+8d50MchxZVfAQYAayptE0S/w0wAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px auto;
    padding-right: 25px;
    -webkit-border-radius: 0;
    // necessary for webkit
    -webkit-appearance: none;
  }
}

#create{
  background-color:#da2b2b;
  font-weight: bold;
  color: white;
  border: none;
}

.custom-file-input {
  color: transparent;
  border: 0;
  box-shadow: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload JSON';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


#json{
  border-radius:5px;
  color: black;
  background-color: #eee;
  font-size: 14px;
}
#help{
  height:30px;
  width: 30px;
  font-family: Arial;
  background-color: #eee;
  box-shadow: 0;
  border: none;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 30px;
}

#help2{
  height:33px;
  width: 33px;
  background-color: black;
  box-shadow: 0;
  color: white;
  font-family: Arial;
  border: none;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 30px;
}


.body-container{
  overflow: auto;
}
.stuff{
  float: left;
  h3{
    font-size: 14px;

    margin-left: 5px;
  }
}
#mesa{
  float: left;


  h2{
    margin-left: 10px;
  }

}
.simple-table{
  margin: 10px;
  padding: 20px;
  th, td, h2{
    padding: 10px;
  }
  th{
    background-color: #eee;
    color: black;

  }
  td{
  border-bottom: 1px solid gray;
  }

}



progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid gray;
    width:  90%;
    margin-left: 5%;
    margin-top: 30px;
    height: 30px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    //background-color: hsla(360, 70%, 51%, 1);
    background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
background: linear-gradient(to bottom, #a9db80 0%,#96c56f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );
    border-radius: 2px;
  }


#search{
  position: relative;
  width: 80%;
  border-radius: 8px;

}
.search{
  position: absolute;
  margin-left: -38px;
  height: 28px;

}

#boxes{
  float: left;
  width: 270px;
  height: 400px;
  margin : 5px;

  img{
    position: absolute;
    width: 270px;
    height: 200px;
    border: 1px solid #eee;
    border-bottom: none;
    padding: 10px;
  }
  #stats{
  height:120px;
  border: 1px solid #eee;
  margin-top:200px;
  text-align: center;
  }
  p{
    font-size: 12px;
    padding: 8px;
    height:20px;

  }
  span{
    font-weight:bold;
  }
  .entypo-help{
    margin-left: 10px;
    padding: 2px;

    font-size: 10px;
    background-color: hsla(57, 100%, 51%, 1);
    border-radius: 100px;
  }
}

#colors{
  height: 100px;
  border: 1px solid black;
  width: 100%;
  li{
    width: 25%;
    list-style-type: none;
  //  border: 1px solid black;
    float: left;
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    height: 100px;
    color: white;
  }
  #one{
   background-color: #474843;
  }
  #two{
    background-color: #9d9d93;
  }
  #three{
    color: black;
    background-color: #c5cfc6;
  }
  #four{
    background-color: #413d3d;
  }

}
/*
body{
  background-color: black;
}
video{
    margin-top: -70px;
    width: 100%;
    position: relative;
    box-shadow:0 0 5px 0px #333;
}
.header{
  width: 100%;
  opacity: .7;
  color: white;
  margin-top: -400px;
  position: absolute;
  text-align: center;

  h1{
    font-size: 50px;
  }
  span{
    font-weight: 300;
  }
  nav{

    a{
      color: white;
      text-decoration: none;
      padding: 20px;
      margin: 20px;
      font-size: 20px;
      transition: all 0.3s ease;
      font-weight: 400;
    }
    a:hover{
      border: 2px solid white;
    }
  }
}


#content{
  height: 700px;
  width:100%;
  margin-top: -50px;

}

#reel{
  iframe{
    margin-left: 10%;
    margin-top: 100px;
  }
  a{
    color: black;
  }

}

#aboutme, #work{

  color: white;
  h2, p, hr {
    margin-left: 10%;
    width: 80%;
  }
  h2{
    border-bottom: 3px solid hsl(348,61,44);
  }
  p{
    line-height: 23px;
    font-weight: 300;
  }

}

.projects{
  list-style-type:none;
  margin-left: 90px;


  li{
    display: inline-block;
    height: 200px;
    width: 250px;
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px;
    margin-right: 20px;

  }
}
/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  margin-top: 380px;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


@-webkit-keyframes arrows {
  0% { top:0; }
  10% { top:12%; }
  20% { top:0; }
  30% { top:12%; }
  40% { top:-12%; }
  50% { top:12%; }
  60% { top:0; }
  70% { top:12%; }
  80% { top:-12%; }
  90% { top:12%; }
  100% { top:0; }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
}
